.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 10px;
}

body {
    width: 60%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset {
    margin-bottom: 10px;
    background-color: lightgray;
    border-radius: 6px;
}

fieldset input,
select {
    font-size: medium;
}

fieldset legend {
    font-size: large;
    font-weight: bold;
}

.grid-button-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5px 0px;
}

.grid-button-container input {
    font-size: medium;
    font-weight: bold;
    border-radius: 6px;
    padding: 5px;
}

.grid-button-container input[type=submit] {
    background-color: lightblue;
}

.grid-button-container input[type=reset] {
    background-color: lightcoral;
}

.grid-header-container {
    display: grid;
    grid-template-areas: 'top-left top-right';
    border-bottom: #ccc 5px solid;
    margin-bottom: 10px;
}

.top-right {
    grid-area: top-right;
    justify-self: right;
}

.top-left {
    grid-area: top-left;
}